

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Email</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>6</td>
                     <td>tumpa</td>

                      <td >
                        tumpa@gmail.com
                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>5</td>
                     <td>jayma jarifa</td>

                      <td >
                        jarifa@gmail.com
                      </td>


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>2</td>
                     <td>abul</td>

                      <td >
                        sokin@gmail.com
                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>1</td>
                     <td>abul</td>

                      <td >
                        hasan@gmail.com
                      </td>


                  </tr>
              