*{margin: 0;
padding: 0}

body{
    background: url("../../gallery/813087.jpg")no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 60px;
    text-align: center;
    background: linear-gradient(#1b6d85,#2aabd2);
    position: relative;
}
.commonmenubar{
    display: inline-block;;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 13%;
}


.commonmenubar a{
    display: block;
    float: left;
    text-decoration: none;
    padding: 0 10px 0 30px;
    line-height: 36px;
    background: linear-gradient(#5DA6E1,#185282);
    color: white;
    position: relative;

}

.commonmenubar a.active, .commonmenubar a:hover{
    background: linear-gradient(#64D86A,#1D7521);
    text-decoration: none;
}
.commonmenubar a.active:after, .commonmenubar a:hover:after{
    background: linear-gradient(135deg,#64D86A,#1D7521);
    text-decoration: none;
}

.commonmenubar a:after{
    content: '';
    width: 36px;
    height: 36px;
    background: linear-gradient(135deg,#5DA6E1,#185282);
    position: absolute;
    top:0;
    z-index: 25;
    right: -18px;
    -webkit-transform: scale(0.707) rotate(45deg);
    -moz-transform: scale(0.707) rotate(45deg);
    -o-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    border-radius: 0 0 0 30px;
    box-shadow: 2px -2px 1px 1px rgba(0,0,0,0.5),
    3px -2px 1px 1px rgba(255,255,255,0.6);


}

.commonmenubar a:last-child:after{

    content: none;

}

.container{
    background:radial-gradient(#ffffff,#2aabd2,#c4e3f3);
    padding-bottom: 200px;
}

footer{color: white;
    background: linear-gradient(#1b6d85,#2aabd2);
    text-align: center;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

footer p{
    font-family: "Monotype Corsiva";
    font-size: 18px;

}