*{
    margin:0;
    padding:0;
}

body{
    height: 600px;
    width: 100%;
    text-align: center;
    background: url("../../gallery/editormainbackground.png")no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 80px;
    background-color: #1b6d85;
    position: relative;
    padding: 12px;
}

header:before{
    content: '';
    width:50%;
    height: 50%;
    position: absolute;
    bottom: -22px;
    transform: skewY(3deg);
    left: 0;
    background: #1b6d85;
}

header:after{
    content: '';
   width:50%;
    height: 50%;
    position: absolute;
    bottom: -22px;
    transform: skewY(-3deg);
    right: 0;
    background: #1b6d85;
}


.commonmenubar{
    display: inline-block;;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
    border-radius: 5px;
    overflow: hidden;
     z-index: 100;
}

.commonmenubar a{
    display: block;
    float: left;
    text-decoration: none;
    padding: 0 10px 0 30px;
    line-height: 36px;
    background: linear-gradient(#5DA6E1,#185282);
    color: white;
    position: relative;

}

.commonmenubar a.active, .commonmenubar a:hover{
    background: linear-gradient(#64D86A,#1D7521);
}
.commonmenubar a.active:after, .commonmenubar a:hover:after{
    background: linear-gradient(135deg,#64D86A,#1D7521);
}

.commonmenubar a:after{
    content: '';
    width: 36px;
    height: 36px;
    background: linear-gradient(135deg,#5DA6E1,#185282);
    position: absolute;
    top:0;
    z-index: 25;
    right: -18px;
    -webkit-transform: scale(0.707) rotate(45deg);
    -moz-transform: scale(0.707) rotate(45deg);
    -o-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    border-radius: 0 0 0 30px;
    box-shadow: 2px -2px 1px 1px rgba(0,0,0,0.5),
    3px -2px 1px 1px rgba(255,255,255,0.6);


}

.commonmenubar a:last-child:after {

    content: none;
}



.contentdiv{
    position: absolute;
    top: 150px;
    left:25%;
    width: 610px;
    height: 380px;
    background: url("../../gallery/edit.png")no-repeat;
    background-size: cover;

}

.rectangle {
    background: #1b6d85;
    height: 40px;
    width: 640px;
    position: relative;
    left:-15px;
    top: 30px;
    float: left;
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    z-index: 100; /* the stack order: foreground */
}

.rectangle span {
    font-size: 20px;
    font-family: "Monotype Corsiva";
    color: #fff;
    text-align: center;
    top: 0;
}
.triangle-l {
    border-color: transparent #1b6d85 transparent transparent;
    border-style:solid;
    border-width:15px;
    height:0;
    width:0;
    position: relative;
    left: -30px;
    top: 54px;
    z-index: -1; /* displayed under bubble */
}

.triangle-r {
    border-color: transparent transparent transparent #1b6d85;
    border-style:solid;
    border-width:15px;
    height:0;
    width:0;
    position: relative;
    left: 610px;
    top: 25px;
    z-index: -1; /* displayed under bubble */
}




footer{
    width: 100%;
    height: 40px;
    background: linear-gradient(#8e24aa,#9c27b0);
    text-align: center;
    line-height: 40px;
    color:white;
    font-family: "Monotype Corsiva";
    font-size: 18px;
    position: fixed;
    bottom: 0;

}

.form{
    padding: 5px;
    padding-top: 30px;
    color: white;
}

.form input{
    width: 60%;
    display: inline-block;
}

