/* ---- reset ---- */

body {
  margin: 0;
  text-align: center;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("../../gallery/16985.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

nav{top:100px;
  left: 10%;
  margin: auto;
  width: 90%;
  height: 50px;
  position: absolute;
  z-index: 5;
  text-align: center;
  color: white;
 display: none;

}

ul{
  list-style: none;
  text-align: center;
}

ul li {
  line-height: 50px;
  float: left;
  display: block;
  padding-left: 30px;
  padding-right: 15px;
  position: relative;
  border-top: 2px solid deepskyblue;
  border-bottom: 2px solid deepskyblue;
}

ul li:nth-child(1){border-left: 1px solid deepskyblue}
ul li:nth-child(8){border-right:1px solid deepskyblue}


ul li:hover{
 background-color: deepskyblue;
  transition: 1s;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

ul li a{color: white;
text-decoration: none;
font-size: large}

.contents{
  position:relative;
  z-index: 2;
  text-align: center;

}

.mainobject{
  width: 50%;
  height: auto;
  position:absolute;
  top:50%;
  left: 25%;
  z-index: 3;
  color: white;
  border: 2px solid deepskyblue;
  box-shadow: 2px 2px 8px 2px deepskyblue;
  display: none;
}

small{
  text-decoration: underline;
}

.manutogglebutton{
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 80px;
  border: 2px solid deepskyblue;
  margin: 10px;
  position: relative;
  margin-left: 45%;
  cursor: pointer;

}

.manutogglebutton a{
  font-weight:bold;
  color: white;
  text-decoration: none;

}

.manutogglebutton:hover{
  background-color: deepskyblue;
  transition: 1s;
}