*{
    margin: 0;
    padding: 0;
}

body{height: auto;
    width: 100%;
    position: static;
    background: url("../../gallery/2192899-1366x768-[DesktopNexus.com].jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #8c8c8c;
    text-align: center;

}


.demo{
    background-color: white;
}

#container{
    width: 970px;
    margin: 0 auto;
    margin-top: 40px;
}

#container h1{  color: white;
    font-family: "Monotype Corsiva";
    text-space: 2px;
    text-shadow: #8c8c8c;
}

td img {
    background-color: white; box-shadow: 5px 5px 6px 2px #c0c0c0;
    overflow: hidden;
}



.highlight{
    overflow: hidden;
}

.heart{
    color: red;
}

/*body{
text-align: center;
font-size: 15px;
}*/
.commonmenubar{
    display: inline-block;;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 14%;
}


.commonmenubar a{
    display: block;
    float: left;
    text-decoration: none;
    padding: 0 10px 0 30px;
    line-height: 36px;
    background: linear-gradient(#5DA6E1,#185282);
    color: white;
    position: relative;

}

.commonmenubar a.active, .commonmenubar a:hover{
    background: linear-gradient(#64D86A,#1D7521);
    text-decoration: none;
}
.commonmenubar a.active:after, .commonmenubar a:hover:after{
    background: linear-gradient(135deg,#64D86A,#1D7521);
    text-decoration: none;
}

.commonmenubar a:after{
    content: '';
    width: 36px;
    height: 36px;
    background: linear-gradient(135deg,#5DA6E1,#185282);
    position: absolute;
    top:0;
    z-index: 25;
    right: -18px;
    -webkit-transform: scale(0.707) rotate(45deg);
    -moz-transform: scale(0.707) rotate(45deg);
    -o-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    border-radius: 0 0 0 30px;
    box-shadow: 2px -2px 1px 1px rgba(0,0,0,0.5),
    3px -2px 1px 1px rgba(255,255,255,0.6);


}

.commonmenubar a:last-child:after{

    content: none;

}
