

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Summary of Organization</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>Microsoft</td>
                     <td >Microsoft is the largest software company on this planet. I want to be the CEO of this company. But its my dream which takes the height of the sky but my ability is not longer then a tree</td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>SleepinHome</td>
                     <td >Its a home automation system</td>


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>10</td>
                     <td>ARTCEL</td>
                     <td >Artcel is a band team</td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>9</td>
                     <td>BITM</td>
                     <td >BITM is a training center</td>


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>3</td>
                     <td>Abul hossain</td>
                     <td >my name is fahimhasan</td>


                  </tr>
              