

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>City</th>
            

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>15</td>
                     <td>Borishal</td>

                    
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>14</td>
                     <td>Comilla</td>

                    
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>Noakhali</td>

                    
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>9</td>
                     <td>Comilla</td>

                    
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>8</td>
                     <td>Noakhali</td>

                    
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>6</td>
                     <td>Chittagong</td>

                    
                  </tr>
              