

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Book Title</th>
            <th>Author Name</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>yo</td>
                     <td>yo yo </td>



                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>book</td>
                     <td>Amar</td>



                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>9</td>
                     <td>yo yo</td>
                     <td>aminul</td>



                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>8</td>
                     <td>Honululu</td>
                     <td>mohesh</td>



                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>7</td>
                     <td>Fahim</td>
                     <td>adritar himu</td>



                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>6</td>
                     <td>abc</td>
                     <td>kokko</td>



                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>5</td>
                     <td>ami</td>
                     <td>fahim</td>



                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>4</td>
                     <td>ami</td>
                     <td>fahim</td>



                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>3</td>
                     <td>abc</td>
                     <td>stp</td>



                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>2</td>
                     <td>abc</td>
                     <td>def</td>



                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>1</td>
                     <td>Fahm</td>
                     <td>Ghum</td>



                  </tr>
              