

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Hobbies</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>20</td>
                     <td>turning</td>

                      <td>Sleeping,Dancing</td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>19</td>
                     <td>nani</td>

                      <td>Sleeping</td>


                  </tr>
              